#
# clustered-dumbo
#
# Copyright (C) 2025   darix
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

{%- set etcd_cluster_urls        =  salt['patroni_helpers.mine_etcd_cluster_url'](patroni_cluster_role, patroni_cluster_mine_function) %}

{%- set etcd_own_host_client_url = etcd_protocol ~ '://' ~ grains.id ~ ':' ~ etcd_client_port %}
{%- set etcd_own_ip_client_url   = etcd_protocol ~ '://' ~ own_ip ~ ':' ~ etcd_client_port %}

{%- set etcd_own_host_peer_url   = etcd_protocol ~ '://' ~ grains.id ~ ':' ~ etcd_peer_port   %}
{%- set etcd_own_ip_peer_url     = etcd_protocol ~ '://' ~ own_ip ~ ':' ~ etcd_peer_port   %}

{%- set cacert = salt['patroni_helpers.cacert']('etcd') %}

{%- set etcd_data_dir = '/var/lib/etcd/patroni.etcd' %}
{%- set etcd_initial_cluster_token = 'patroni' %}

{%- if pillar.patroni.bootstrap %}
{%- set etcd_initial_cluster_state = 'new' %}
{%- else %}
{%- set etcd_initial_cluster_state = 'existing' %}
{%- endif %}

#
# [member]
ETCD_NAME="{{ grains.fqdn }}"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
#ETCD_WAL_DIR=""
#ETCD_SNAPSHOT_COUNT="10000"
#ETCD_HEARTBEAT_INTERVAL="100"
#ETCD_ELECTION_TIMEOUT="1000"
# Before changing this setting allowing etcd to be reachable over the network
# or if you have untrustworthy local users on the system where etc runs please
# make sure to enable authentication in the [security] section below. Please
# also read README.security for this package
ETCD_LISTEN_PEER_URLS="{{ etcd_own_ip_peer_url }}"
ETCD_LISTEN_CLIENT_URLS="{{ etcd_own_ip_client_url }},{{ etcd_protocol }}://localhost:{{ etcd_client_port }}"
#ETCD_MAX_SNAPSHOTS="5"
#ETCD_MAX_WALS="5"
#ETCD_CORS=""
#
#[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{ etcd_own_host_peer_url }}"
# if you use different ETCD_NAME (e.g. test), set ETCD_INITIAL_CLUSTER value for this name, i.e. "test=http://..."
ETCD_INITIAL_CLUSTER="{{ etcd_cluster_urls }}"
ETCD_INITIAL_CLUSTER_STATE="{{ etcd_initial_cluster_state }}"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_initial_cluster_token }}"
ETCD_ADVERTISE_CLIENT_URLS="{{ etcd_own_host_client_url }}"
#ETCD_DISCOVERY=""
#ETCD_DISCOVERY_SRV=""
#ETCD_DISCOVERY_FALLBACK="proxy"
#ETCD_DISCOVERY_PROXY=""
#
#[proxy]
#ETCD_PROXY="off"
#ETCD_PROXY_FAILURE_WAIT="5000"
#ETCD_PROXY_REFRESH_INTERVAL="30000"
#ETCD_PROXY_DIAL_TIMEOUT="1000"
#ETCD_PROXY_WRITE_TIMEOUT="5000"
#ETCD_PROXY_READ_TIMEOUT="0"
#
#[security]
#ETCD_CERT_FILE=""
ETCD_CERT_FILE="{{ pillar_etcd.server_cert }}"
#ETCD_KEY_FILE=""
ETCD_KEY_FILE="{{ pillar_etcd.server_cert }}"
#ETCD_CLIENT_CERT_AUTH="false"
ETCD_CLIENT_CERT_AUTH="true"
#ETCD_TRUSTED_CA_FILE=""
ETCD_TRUSTED_CA_FILE="{{ pillar_etcd.ca_cert }}"
#ETCD_PEER_CERT_FILE=""
ETCD_PEER_CERT_FILE="{{ pillar_etcd.client_cert }}"
#ETCD_PEER_KEY_FILE=""
ETCD_PEER_KEY_FILE="{{ pillar_etcd.client_cert }}"
#ETCD_PEER_CLIENT_CERT_AUTH="false"
ETCD_PEER_CLIENT_CERT_AUTH="true"
#ETCD_PEER_TRUSTED_CA_FILE=""
ETCD_PEER_TRUSTED_CA_FILE="{{ cacert }}"
#
#[logging]
#ETCD_DEBUG="false"
# examples for -log-package-levels etcdserver=WARNING,security=DEBUG
#ETCD_LOG_PACKAGE_LEVELS=""