{%- import_yaml './defaults.sls' as default_settings %}
{%- set pillar_pgbackrest = salt['patroni_helpers.pillar_pgbackrest'](default_settings=default_settings) %}
[global]
{%- for key, value in pillar_pgbackrest.config.global.items() %}
{{ key }}={{ value }}
{%- endfor %}
repo1-s3-endpoint={{ minio_url }}

{% for stanza_name, stanza_data in pillar_pgbackrest.config.stanzas.items() %}
  {%- if 'enable' in stanza_data and stanza_data.enable %}
[{{ stanza_name }}]
    {%- if 'use_standby_for_backup' in stanza_data and stanza_data.use_standby_for_backup %}
# optionally we can do loop over all hosts here so we can defer the backup to a replica
# we are not using this right now
backup-standby=y
      {%- for fqdn, host in cluster_hostnames %}
        {%- set index = loop.counter+1 %}
pg{{ index }}-host={{ host }}
pg{{ index }}-path={{ postgresql_data_directory }}
pg{{ index }}-port={{ postgresql_port }}

      {%- endfor %}
    {%- else %}
pg1-path={{ postgresql_data_directory }}
pg1-port={{ postgresql_port }}
    {%- endif %}
  {%- endif %}
{%- endfor %}
